*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FFF8F0;
    padding: 20px;
    color: #333;
    
}
.main-header {
    background-color: #5C4033;
    color: white;
    padding: 15px 0;
}
.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 12px;
    height: 80px;
    padding-left:30px;
}
.shop-name{
    align-self: center;
    text-align: center;
}
.container img{
    height: 80px;
    width: 80px; 
    border-radius: 50%;
}

.shop-name  {
   margin-left: 450px;
    text-align: center;
}
header a {
    display: inline-block;
    margin: 5px 10px;
    padding: 10px 20px;
    background-color: #FFB199;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}
header a:hover {
    background-color: #FF8A75;
}
.parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 10px;
   
}
.one {
    background-color: #fff;
    border: 1px solid #F0DCDC;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 6px rgba(0,0,0,0.05);
    text-align: center;
    transition: transform 0.2s;
    margin-top: 50px;
}
.one:hover {
    transform: scale(1.02);
}
 img {
    width:300px;
    height:400px;
    border-radius: 10px;
   
}
.main-footer{
    text-align: center;
    background-color: #5C4033;
}
a{
    text-decoration: none;
    font-size: large;
    font-family:Arial, Helvetica, and Times New Roman;  
    color: black;
}
.phera{
    text-align: center;
}
.letter{
    text-align: center;
}
.h1{
  align-items: center; 
}